@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Edu+SA+Beginner:wght@500&family=Raleway:wght@500&family=Silkscreen:wght@700&display=swap');


.container-fluid{
    padding: unset !important;
    font-family: 'Raleway', sans-serif;
    ;
}
.welcome .self{
    float:left;
}
.welcome .signUp{
    float:right;
}

.navigator{
    float:left;
    color:white;
    background-color: #0019a5;
    padding: 1rem;
    width: inherit;
}

.container-fluid span{
    cursor: pointer;
}
.navigator .navigatorLinks{
    float: left;
}
.navigator .explore{
    float: right;
}

.discover{
    float:left;
    clear: left;
    width: inherit;
    margin-top:2px;
    background: lightblue url("https://www.o2.co.uk/documents/456036/5702218/switch-up-interim-billboard-xxl-2000-right-dark-210722.jpg/69c9bd85-2bcc-dc24-2cf7-a8f9148ab345?t=1658419324893") no-repeat fixed center;
}


.huge {
    border-radius: 0 0 250% 250%/0 0 500px 500px;
    position: relative;
    width:inherit;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2); 
    min-height: 500px;
}

.discover h2{
    color:white;   
    font-family:'Silkscreen', cursive;;
}
    
.feedback{
    float:left;
    clear: both;
    position: fixed;
    top:50%;
    left: 95%;
    transform: rotate(270deg);
}

.galaxy{
    float:left;
    clear: left;
    background: white url("https://www.o2.co.uk/documents/456036/5819307/z-fold4-pre-order-billboard-xxl-2000-right-dark-020822.jpg/8b270007-44f0-c019-fb28-cc8db72b260e?t=1659702571905") no-repeat center center;

    border-radius: 0 0 250% 250%/0 0 500px 500px;
    width:inherit;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2); 
    min-height: 500px;
}

.galaxy h1{
    font-size: 20px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

.megaDropDown{
    float: left;
    clear: both;
    display: none;
}

.megaDropDown ul li{
    list-style: none;
    color: #0019a5;
}